.typography .page-header {
  margin: 30px 0 5px;
}
.nt {
  color: #2f6f9f;
}
.bs-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  border-style: solid;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
}
.bs-example:after {
  content: "Example";
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.bs-example + .highlight {
  margin: -15px -15px 15px;
  border-radius: 0;
}
.highlight {
  padding: 9px 14px;
  background-color: transparent;
}
.fontawesome-icon-list .fa {
  padding-right: 10px;
  width: 30px;
}
.mega-nav img {
  margin: -1px 10px 0 0;
}